.block {
    width: 773px;
    background-color: white;
    border-radius: 12px;
    border-width: 1px;
    padding: 24px;
    gap: 20px;

    border: 1px solid #EAEBED;

    h1 {
        font-family: Inter;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0px;
        padding-bottom:7px
    }

    li {
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0%;

    }
    ul{
        padding-bottom: 20px;
        padding-left: 20px;
    }
    margin-bottom: 100px;
    margin-top: 15px;
}